<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/w3.css" />
    <title>Student Management v1.0</title>
  </head>
  <body>
    <div class="w3-bar w3-container w3-indigo" style="position: sticky; top: 0">
      <h4>Student Management v1.0</h4>
    </div>
    <div class="w3-container w3-padding">
      {% block content %} {% endblock %}
    </div>
    <center>&copy; JUSTINE T. DUPA, 2025</center>
  </body>
</html>
